<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.android.erlcarter.android_quickfit_master">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:appComponentFactory=""
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:appComponentFactory">
        <activity android:name=".activity.HealthPageActivity"></activity>
        <activity android:name=".activity.MemberDetailInfoActivity" />
        <activity android:name=".activity.MyPhotoActivity" />
        <activity android:name=".activity.ShopItemDetailActivity" />
        <activity android:name=".activity.ShopItemNavigationActivity" />
        <activity android:name=".activity.HealthyClassRoomActivity" />
        <activity android:name=".activity.HealthAssessmentActivity" />
        <activity android:name=".activity.SportTraningActivity" />
        <activity android:name=".activity.FoodRecordActivity" />
        <activity android:name=".activity.WeightRecordActivity" />
        <activity android:name=".activity.FindPswActivity" />
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.ClipImageActivity" />
        <activity android:name=".activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.item.demo.photo.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>